body{
    background-color:white;
    font:1em/1.4 sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

.letters{
    display: inline-block;
    }

li {
    overflow: hidden;
    list-style: none;
    white-space:nowrap;
    margin-right: 10px;
    border-radius: 25px;
    display: block;
}
    li a {
        opacity: 0;
        color: #666;
        max-width: 0;
        display: inline-block;
        text-decoration: none;
        transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
        button.link { background:none;border:none;
        font-size:30px;
    }
}
        li a:hover {
            color: #c33;
        }
        li a i {
            float:right;
            display: block;
            padding-right: 0em;
            font:1em/1 'rokkitt', sans-serif;
        }
    li b {
        color: #c33;
        line-height:1;
        font-size: 110px;
        display: inline-block;
        padding:.125em .375em;
    }
    li:hover {}
        li:hover a {
            opacity: 1;
            max-width: 150px;
            transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
        }


.TESSA p{
    font-size:15px;
}
    /*#T{
        display:block;
        margin:0;
        /*display:none;
    }

    #p:hover #T{
        display: inline-block;*/
    }
/*        #Header_T{
            font-family:"Helvetica";
            display: inline-block;
            color: black;
            font-size:200px;
        }
        #T_text{
            font-family:"Candara";
            display: inline-block;
            color:dimgrey;
            font-size:20px;
        }

    #E{
        display:block;
    }

        #Header_E{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #E_text{
            font-family:"Candara";
            display:inline-block;
            color:dimgrey;
            font-size:20px;
        }

    #S{
        display:block;
    } 
        #Header_S{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #S_text{
            font-family:"Candara";
            display:inline-block;
            color:dimgrey;
            font-size:20px;
        }

    #Ss{
        display:block;
    }
        #Header_S_s{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #S_text_s{
            font-family:"Candara";
            display:inline-block;
            color:dimgrey;
            font-size:20px;
        }
    #A{
        display:block;
    }
        #Header_A{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #A_text{
            font-family:"Candara";
            display:inline-block;
            color:dimgrey;
            font-size:20px;
        }

    ul{
        list-style-type:none;
        margin:0;
        padding;
        overflow:hidden;
        background-color: transparent;
    }*/

#rose{
    display: inline-block;
    position:right;
    padding-left: 0px;
    height="800px";
    width "100%";
}

div {
    height:200px;
}