body{
    background-color:white;
}

.letters{
    display: inline-block;
    
}

    #T{
        display:block;
        /*display:none;
    }

    #p:hover #T{
        display: inline-block;*/
    }
        #Header_T{
            font-family:"Helvetica";
            display: inline-block;
            color: black;
            font-size:200px;
        }
        #T_text{
            font-family:"Candara";
            display: inline-block;
            color:red;
            font-size:20px;
        }

    #E{
        display:block;
    }

        #Header_E{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #E_text{
            font-family:"Candara";
            display:inline-block;
            color:red;
            font-size:20px;
        }

    #S{
        display:block;
    } 
        #Header_S{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #S_text{
            font-family:"Candara";
            display:inline-block;
            color:red;
            font-size:20px;
        }

    #Ss{
        display:block;
    }
        #Header_S_s{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #S_text_s{
            font-family:"Candara";
            display:inline-block;
            color:red;
            font-size:20px;
        }
    #A{
        display:block;
    }
        #Header_A{
            font-family:"Helvetica";
            display:inline-block;
            color:black;
            font-size:200px;
        }
        #A_text{
            font-family:"Candara";
            display:inline-block;
            color:red;
            font-size:20px;
        }

#rose{
    display: inline-block;
    position:right;
    padding-left: 500px;
}

div {
    height:200px;
}